.jawaban button {
  margin: 30px;
}
.hilang {
  width: 100px;
  margin-left: 70px;
  display: none;
}
img {
  width: 100px;
  z-index: -2;
  position: absolute;
}
.hilang2 {
  width: 100px;
  margin-left: 70px;
  display: none;
}
.container {
  background: #474bff;
  background: -webkit-linear-gradient(93deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(93deg, #474bff 0%, #bc48ff 100%);
}

.kotak {
  text-align: center;
  /* margin: auto; */
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: solid 1px;
}
.kotak2 {
  border: solid 1px;
  text-align: center;
  /* margin: auto; */
  width: 200px;
  height: 200px;
  border-radius: 20px;
  /* border: solid px; */
}
.kotak3 {
  border: solid 1px;
  text-align: center;
  /* margin: auto; */
  width: 200px;
  height: 200px;
  border-radius: 20px;
  /* border: solid px; */
}
.kotak:hover {
  -webkit-box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
  box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
}
.kotak2:hover {
  -webkit-box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
  box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
}
.kotak3:hover {
  -webkit-box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
  box-shadow: 0 -0.5px 11px -2px rgba(0, 0, 0, 0.73);
}
.bungkus {
  margin: 20px;
  justify-content: space-evenly;
  /* border: solid; */
  display: flex;
}
